# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# Django
*.sqlite3
media/
staticfiles/
*.log

# Environment files
.env
.env.*

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
